*{
    margin: 0;
    padding: 0;
}
.head{
    height: 30px;
    display: flex;
    align-items: center;
    background: #00aaFF;
    justify-content: center;
}
h1{
    font-size: 30pt;
    
    color: #fff;
}
.main{
    margin: 0 auto;
    
    display: flex;
    align-items: center;
    justify-content: center;
}
#lienzo{
    background: #000;
    
}
.foot{
    background: #ff9900;
    padding: 20px;
}